arxiv
arxiv2text
pydantic
torch  --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers
pandas
embetter
setfit
requests==2.28.2
jmespath
beautifulsoup4
lxml
SQLAlchemy
openai
semanticscholar
marker-pdf
python-dotenv
git+https://github.com/openai/swarm.git
